/Bool.java
/Capsule.java
/CapsulePortPair.java
/CommonObj.java
/Connector.java
/Int.java
/Message.java
/MessagePort.java
/Protocol.java
/Signal.java
/State.java
/TimerPort.java
/Transition.java
/TriggerIn.java
